body {
  background-color: darkslategrey;
  max-width: 150px;
}

#text {
  border-radius: 4px;
}

#number {
  border-radius: 4px;
}

#todos {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 14px;
  padding-inline-start: 20px;
}

#todos li {
  text-align: start;
  text-overflow: clip;
}

button {
  border-color: dodgerblue;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
}
