body {
  background-color: #444;
  border-radius: 10px;
  max-width: 150px;
}

html {
  border-radius: 7px;
}

h1 {
  color: #efefef;
  text-align: center;
  font-family: "Comfortaa", cursive;
}

#text {
  border-radius: 4px;
}

#number {
  border-radius: 4px;
}

#todos {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 14px;
  padding-inline-start: 20px;
}

#todos li {
  text-align: start;
  text-overflow: clip;
}

#add_todo {
  margin-bottom: 6px;
}

#number {
  margin-top: 6px;
}

#confirm_list {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  border-color: dodgerblue;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
}
